
# Ignore log files
*.log

# Ignore temporary directories
Data/
Busco/
# Ignore files and directories that start with a dot
.*
*.mod
*.cfg
*..blastp
# ignore fasata,fna,faa,ffn,frn,gbk,gbff,gb,emb files
*.fasta
*.fna
*.faa
*.ffn
*.frn
*.gbk
*.gtf
*.gff
*.emb
*.pdf
*.log
*.blastp
*.out
*.dmnd
nohop.out
*.faa.diamond.dmnd
*.jar
*.blastout
*.blastout.reduced
*.blastout.reduced.faa
*.blastp
*.blast
4_blast/Ht_backup_blast.blastout

*.aligned.faa.reduced
# Not on exam BirdMalaria.pdf
Not on exam BirdMalaria.pdf


